@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Poppins', 'Helvetica', 'Arial', sans-serif;
}

.no-tasks-container {
    grid-column: 1 / -1;
  }

  @media (min-width: 768px) {
    .no-tasks-container {
      grid-column: 1 / span 2;
    }
  }
